* {
    font-family: "Courier New", Courier, monospace;
  }
  body,
  html {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  section {
    width: 35%;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px 2px #21212142;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  
  }
  section h1{
      width: 80%;
      text-align: center;
  }
  section form {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  section form input,
  section form select {
    border-radius: 10px;
    padding: 5px;
  }
  
  section form button{
      border-radius: 10px;
      font-size: 15px;
      padding: 5px;
      background-color: rgb(0, 255, 0);
      margin-top: 10px;
  }